/* 아스키코드 문자열이 아닐 경우 UTF-8로 인코딩 셋 지정 */
@charset "UTF-8";

/* 리셋 */
html, body, div, span, p, ol, ul, /* */
li, h1, h2, h3, h4, button, input, strong {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: 'Apple SD Gothic Neo', '나눔 고딕', NanumGothic, '돋움',
    Dotum, sans-serif;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cl-text-black);
}

/* 글로벌, 공용 속성 */
:root {
  font-size: 62.5%;

  --fs--xl: 2.4rem;
  --fs--600: 1.9rem;
  --fs--500: 1.7rem;
  --fs--400: 1.4rem;
  --fs--xs: 1.2rem;

  --cl-zum-blue: #175cbe;
  --cl-white: #fff;
  --cl-description: #999;
  --cl-title: #444;
  --cl-tag: #497eb1;
  --cl-text-black: #000;
  --cl-text-gray: #333;
  --cl-hover: #547ea7;
  --cl-border: #eaeaea;
  --cl-top-background: #f5f5f5;
}

* {
  box-sizing: border-box;
}

.blind {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* 헤더 */
header {
  border-bottom: 1px solid var(--cl-border);
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1170px;
  margin: auto;

  padding: 21px 10px;
}

.header-wrap .logo a {
  color: var(--cl-zum-blue);
  font-size: var(--fs--xl);
  font-weight: bold;
}

.header-wrap .service-wrap {
  display: flex;
  align-items: center;
  font-size: var(--fs--xs);
}

.header-wrap .service-wrap .search {
  border: 1px solid var(--cl-border);
  padding: 8px 16px 8px 8px;
}

.header-wrap .service-menu {
  display: flex;
  margin-left: 16px;
}

.header-wrap .service-menu li {
  margin-right: 8px;
}

.header-wrap .login {
  position: relative;
  padding-left: 8px;
}

.header-wrap .login::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  border-left: 1px solid #e4e4e5;
  content: '';
}

/* 전체 메뉴 */
.nav-menu {
  font-size: var(--fs--500);
  color: var(--cl-text-gray);
  border-bottom: 1px solid var(--cl-border);
}

.nav-menu .menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  max-width: 1170px;
  margin: auto;
}

.nav-menu .menu-list li {
  padding: 16px 10px;
  cursor: pointer;
}

.nav-menu .menu-list li:not(:nth-last-child(1)) {
  margin-right: 16px;
}

.nav-menu .menu-list li:hover {
  color: var(--cl-hover);
}

/* 콘텐츠 */
.contents-section {
  max-width: 1170px;
  margin: auto;
  padding: 10px;
}

.contents-section:not(:first-of-type) {
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid var(--cl-border);
}

.tag-title {
  font-size: var(--fs--600);
  color: var(--cl-tag);
  padding: 16px 0;
}

.contents-section .contents-wrap {
  display: flex;
  justify-content: space-between;
}

.contents-section .contents-wrap .content {
  display: flex;
  flex-direction: column;

  max-width: 270px;
  cursor: pointer;
}

.contents-section .contents-wrap .content:hover .title {
  color: var(--cl-hover);
}

.contents-section .contents-wrap .content:hover .thumbnail {
  filter: brightness(0.8);
}

.contents-wrap .content .title {
  font-size: var(--fs--500);
  color: var(--cl-title);
  padding: 16px 0;
}

.contents-wrap .content .description {
  font-size: var(--fs--400);
  line-height: 16px;
  color: var(--cl-description);
  margin-bottom: 16px;

  /* 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.contents-wrap .content .author {
  font-size: var(--fs--xs);
  color: var(--cl-description);
}

/* 실시간 TOP 12 */
.best-section {
  max-width: 1170px;
  font-size: var(--fs--500);
  margin: auto;
  padding: 16px 10px;
  margin-top: 16px;
  border-top: 1px solid var(--cl-border);
}

.best-section .best-list {
  display: flex;
  flex-wrap: wrap;
}

.best-section .best-list .best-item {
  display: flex;
  flex: 1 1 30%;

  background-color: var(--cl-top-background);
  margin-bottom: 16px;
  margin-right: 8px;
  padding: 16px;
  cursor: pointer;
}

.best-section .best-list .best-item:hover {
  background-color: var(--cl-hover);
}

.best-section .best-list .best-item:hover .title,
.best-section .best-list .best-item:hover .author {
  color: var(--cl-white);
}

.best-list .best-item .title-box {
  display: flex;
  flex-direction: column;
  color: var(--cl-title);
  margin-left: 16px;
}

.best-list .best-item .lank {
  font-size: var(--fs--600);
  font-weight: bold;
  margin-top: 2px;
}

.best-list .best-item .title {
  font-size: var(--fs--400);
  line-height: 17px;
  margin-bottom: 8px;

  /* 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.best-list .best-item .author {
  font-size: var(--fs--xs);
  color: var(--cl-description);
}

/* 푸터 */
footer {
  text-align: center;
  font-size: var(--fs--400);

  padding: 16px 10px;
  margin-top: 16px;
  border-top: 1px solid var(--cl-border);
}

footer .stacks-list {
  max-width: 320px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

footer .stacks-list .stacks-item {
  padding: 8px;
}
